<div class="container mt-4">

    {{#each postData}}
 <div class="card homepage-card mb-4">
<header class="card-header">
 <p class="card-header-title">
      {{title}}
</p>
 <a href="/post/{{id}}" class="card-header-icon" aria-label="more options">
    <span class="icon">
        <i class="fa-solid fa-arrow-right"></i>
    </span>
</a>
</header>
<div class="card-content">
    <p> Written by {{user.username}} on {{date_created}}</p>
</div>
</div>
{{/each}}
    {{!-- <nav class="pagination is-rounded mt-5" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
  </ul>
</nav> --}}
</div>