
<form class="container loginForm">
    <div class="box">
    <h2 class="title is-2 has-text-centered">Login</h2>
<div class="field">
    <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Username"id="userLogin">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
</div>
<div class="field">
     <label class="label">Password</label>
  <div class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" id="userPW">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
</div>
<div class="field is-flex is-justify-content-center">
  <div class="control">
    <button class="button log">