<div class="container">
    <h2>Register</h2>
    <form class="register-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input id="register-username" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input id="register-password" type="password" class="form-control" id="exampleFormControlInput1"
                placeholder="Enter Password">
        </div>
        <button id="submitBtn" type="button" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/js/register.js"></script>